# Lines beginning with a #: give the import name of the package.
# This is used to mock these packages in Sphinx.
# The package name followed by it will be used on TravisCI to install deps.
# See this for the exact format: http://www.pip-installer.org/en/latest/cookbook.html#requirements-files

#: charade
charade

#: yapsy
#: yapsy.IPlugin
#: yapsy.IPluginManager
#: yapsy.PluginManager
yapsy==1.10.1-pythons2n3

#: parse
parse

#: httplib2
httplib2

#: jinja2
jinja2
