# Lines beginning with a #: give the import name of the package.
# This is used to mock these packages in Sphinx.
# The package name followed by it will be used on TravisCI to install deps.
# See this for the exact format: http://www.pip-installer.org/en/latest/cookbook.html#requirements-files

#: charade
charade

#: yapsy
#: yapsy.IPlugin
#: yapsy.IPluginManager
#: yapsy.PluginManager
yapsy==1.10.1-pythons2n3

#: parse
parse

#: httplib2
httplib2

#: requests
requests

jinja2

docopt

Flask

https://bitbucket.org/spirit/guess_language/downloads/guess_language-spirit-0.5a4.tar.bz2

PyStemmer

pyxDamerauLevenshtein

Pyaml

#: beautifulsoup4
beautifulsoup4

xmltodict
